In [1]:
import pandas as pd

In [17]:
df=pd.read_csv('HomeCredit_columns_description.csv', encoding='unicode escape')
df.head(10)

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN

In [13]:
df.shape

(219, 5)

In [14]:
df.describe

<bound method NDFrame.describe of      Unnamed: 0                         Table                    Row  \
0             1  application_{train|test}.csv             SK_ID_CURR
1             2  application_{train|test}.csv                 TARGET
2             5  application_{train|test}.csv     NAME_CONTRACT_TYPE
3             6  application_{train|test}.csv            CODE_GENDER
4             7  application_{train|test}.csv           FLAG_OWN_CAR
..          ...                           ...                    ...
214         217     installments_payments.csv  NUM_INSTALMENT_NUMBER
215         218     installments_payments.csv        DAYS_INSTALMENT
216         219     installments_payments.csv     DAYS_ENTRY_PAYMENT
217         220     installments_payments.csv         AMT_INSTALMENT
218         221     installments_payments.csv            AMT_PAYMENT

                                           Description  \
0                             ID of loan in our sample
1    Target variable (1 - client with payment diffi...
2          Identification if loan is cash or revolving
3                                 Gender of the client
4                        Flag if the client owns a car
..                                                 ...
214            On which installment we observe payment
215  When the installment of previous credit was su...
216  When was the installments of previous credit p...
217  What was the prescribed installment amount of ...
218  What the client actually paid on previous cred...

                                   Special
0                                      NaN
1                                      NaN
2                                      NaN
3                                      NaN
4                                      NaN
..                                     ...
214                                    NaN
215  time only relative to the application
216  time only relative to the application
217                                    NaN
218                                    NaN

[219 rows x 5 columns]>

In [18]:
filt=df['Table']=='installments_payments.csv'
df.loc[filt]

,Unnamed: 0,Table,Row,Description,Special
211,214,installments_payments.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
212,215,installments_payments.csv,SK_ID_CURR,ID of loan in our sample,hashed
213,216,installments_payments.csv,NUM_INSTALMENT_VERSION,Version of installment calendar (0 is for cred...,NaN
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN